* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.event-container {
  align-items: center;
}
.event-card-container {
  display: flex;
  justify-content: space-around;
}
