/* ----------- Variabler ----------- */
:root {
  --cardcolor: #eae2df;
  --cardshadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --pink: #ff9ad2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  margin: auto;
  max-width: 90vw;
}

/* ----------- Event kort ----------- */
.event-container {
  margin: auto;
  max-width: 1120px;
}

.event-title {
  padding: 0.3em;
  font-weight: 400;
  text-align: center;
  color: white;
  background-color: black;
  margin-bottom: 1em;
}

.event-card-container {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.event-card {
  max-width: 33%;
  text-align: center;
  box-shadow: var(--cardshadow);
  background-color: var(--cardcolor);

  img {
    max-width: 100%;
  }
}

/* ----------- Footer ----------- */

footer {
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  margin-top: auto;
  p,
  address {
    font-size: 0.8em;
    margin-top: 0.4em;
  }
}

.pink-text {
  color: var(--pink);
  margin-top: 2em;
}

.footer-info-container {
  display: flex;
  text-align: center;
  width: 1120px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-logo {
  width: 300px;
  height: 300px;
  margin-bottom: -2em;
}

.footer-icons {
  margin-top: 2em;
  img {
    height: 3em;
  }
}

/* --------------------- Mobildesign ---------------------*/

@media (max-width: 600px) {
  /* ----------- Footer ----------- */
  footer {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-info-container {
    flex-direction: column;
  }

  /* ----------- Event kort ----------- */
  .event-title {
    max-width: 90%;
    margin: 0 auto;
  }

  .event-card-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 4em;
    padding: 0 1.5em 1.5em 1.5em;
    margin-top: 1em;
  }

  .event-card {
    min-width: 100%;
    scroll-snap-align: center;

    img {
      min-width: 100%;
    }
  }
}
